@model List<Phone>

@{
    ViewBag.Title = "Смартфон";
    Layout = "_Layout";
}

<h2>Список устройств</h2>
<div class="table_section">
    <a asp-action="Create" asp-controller="Phones">добавить телефон</a>
    @if (@Model.Count == 0)
    {
        <p>Список пуст</p>
    }
    else
    {
        <table class="custom_table" style="width: 100%">
            <tr>
                <td>Id</td>
                <td>Название</td>
                <td>Бренд</td>
                <td>Стоймость</td>
                <td>Действие</td>
            </tr>
            @foreach (var phone in @Model)
            {
                <tr>
                    <td>@phone.Id</td>
                    <td>@phone.Name</td>
                    <td>@phone.Brand</td>
                    <td>@phone.Price</td>
                    <td><a asp-action="Create" asp-controller="Orders" asp-route-phoneId="@phone.Id">Заказать</a></td>
                </tr>
            }
        </table>
    }
</div>